
.colores{
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;

}

.lista-colores{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: -5px;
	
}
div {
	gap: 5px;
}
div button {

	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 30px;
	height: 30px;
	margin: 10px;
}


