
/*CANVAS CONFIG ------- START */ 
.container-canvas{
	width: 100%; 
	background-color: #242424;
	height: 900;
	display: flex;
	justify-content: center;                              /*CANVAS*/
  align-items: center;
  padding: 0;
  margin: 0;
}
canvas {

	background-color: #242424;
}


/*CANVAS CONFIG ------- END*/

