/*CANVAS CONFIG ------- START */ 
.dibujo{
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	flex-wrap: nowrap;
}

canvas {
  border-bottom: 1px solid #8CDA05;
	border-top: 1px solid #8CDA05;
	border-radius : 25px;
	width: 90%;
	background-color: #242424;
}

.ops-container{
	border: 1px solid #8CDA05;
	padding: 45px 20px;
	border-radius : 25px;
	width: 10%;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	background-color: #242424;
	color: #8CDA05;
}

.canvas-container{
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: row;
	width: 100%;
	height: 100%;
}





/*CANVAS CONFIG ------- END*/

